{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
    <h2> Logged Out </h2>
    <p>You have been successfully logged out</p>
    <p><a href="{% url 'login' %}">Log in</a> again</p>
{% endblock %}