{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
    <h2> Login </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}