<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Simple Login System {% endblock title %}</title>
</head>
<body>
    <header>
        <h1>Django Simple Login</h1>
        {% if user.is_authenticated %}
            Hi, {{ user.username }}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </header>
    <hr>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <hr>
    <footer>
        <a href="http://simpleisbetterthancomplex.com">simpleisbetterthancomplex.com</a>
    </footer>
</body>
</html>